/* custom css */

body {
	margin:0;
	padding:0;
	width:100%;
	background-color: #FFFFff;
	}


li {
	float:left;
	margin: 3px;
	padding: 2px 2px 1% 2px;
	width: 30%;
	list-style:none;
	border: solid black;
	position: relative;
	left: -20px;
	font-weight: bold;
	}
li.one {
	background-color: #FF6666;
	}
li.two {
	background-color: #FF0000;
	}
li.three {
	background-color: #B20000;
	}
a:link {
	color:#FFFFFf;
	text-decoration:none;
	}
a:visited, a:hover, a:active {
	color:#FFFFFf;
	text-decoration:underline;
	}
p {
	
	}